.FineTune {
    &__project-name {
        margin-top: -.5rem;
    }
    &__options-container {
        display: flex;
        align-items: center;
        justify-content: start;
        margin: 1rem auto;
        width: fit-content;
        max-width: 1200px;

    }
    &__label {
        width: 12rem;
    }
    &__value {
        width: 20rem;
    }
    &__checkbox {
        width: 1rem;
        margin: 0 .25rem 0 1rem;
    }
    &__submit-button {
        padding: .25rem .5rem;
        width: fit-content;
        display: block;
        margin: .5rem auto;
        color: white;
        background-color: black;
        border-radius: 4px;
        cursor: pointer;
    }
}