@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  box-sizing: border-box;
}
h1 {
  text-align: center;
  line-height: 4rem !important;
  margin-bottom: .5rem;
}
h2 {
  text-align: center;
  line-height: 3rem !important;
  margin-bottom: .5rem;
  font-size: 2rem;
  font-weight: bold;
}
input, textarea {
  display: block;
  padding: .25rem .5rem;
  border: 1px solid black;
  border-radius: 4px;
  width: 100%;
  margin-top: .5rem;
}
select {
  width: 12rem;
  padding: .5rem .75rem;
  font-size: 1.25rem;
  text-align: center;
  margin: 1rem auto 1rem auto;
  display: block;
  cursor: pointer;
  border: 1px solid grey;
  border-radius: 4px;
}

.button {
  width: 5rem;
  text-align: center;
  padding: .25rem .5rem;
  color: white;
  background-color: black;
  border-radius: 4px;
  cursor: pointer;
  display: block;
  margin: .5rem auto;

}
.button-outline {
  width: 5rem;
  padding: .25rem .5rem;
  color: black;
  background-color: white;
  border: 1px solid black;
  border-radius: 4px;
  cursor: pointer;
  display: block;
  margin: auto;
  text-align: center;
}

.App {
  height: 100vh;
  width: 100vw;
}


.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
